body {
  background-color: green;
}

#button {
  text-align: center;
  position: relative;
  top: 500px;
  font-weight: bold;
 
  

}

#enter {
  color: aqua;
  position: absolute;
  background-color:blueviolet;
  left: 46.70%;
  top: 95%;
  cursor: crosshair;
  border: blueviolet;
  padding: 10px 15px;
 
  
 
}