body {
  background-color: green;
}

#button {
  text-align: center;
  position: relative;
  top: 500px;
  font-weight: bold;
 
  

}

#enter {
  color: aqua;
  position: absolute;
  background-color:blueviolet;
  left: 47.65%;
  top: 95%;
 
  
 
}